.item {
    width: 30vh;
    height: 30vh;
    transition: background-color 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    color: white;
    margin: 4vh 2vh;
    padding: 10vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 10px;
  }

  .hovered {
    background-color: #FFC0CB;
  }
