.item {
  width: 30vh;
  height: 30vh;
  transition: background-image 0.3s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  margin: 4vh 2vh;
  padding: 10vh;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.hovered {
  filter: brightness(0.9);
}
