.MoodPage {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  flex-direction: row;

}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.header {
  background-color: #9D9DF4;
  height: 355px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

ul {
  color: white;
}
