.MoodPage {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  flex-direction: row;

}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.header {
  background-color: #9D9DF4;
  height: 355px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

ul {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
}

.trackItem {
  padding: 10px 0;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-bottom: none;
  }
}

.audioPlayerContainer {
  display: flex;
  align-items: center;
  background-color: back;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trackInfo {
  flex-grow: 1;
  margin-right: 20px;

  .trackTitle {
    font-weight: 700;
    font-size: 20px;
    color: white;
    display: block;
  }

  .trackArtists {
    font-size: 17px;
    color: #666;
  }
}

.audioPlayer {
  flex-shrink: 0;
  width: 200px;
  appearance: none;

  &::-webkit-media-controls-panel {
    background-color: green;
    border-radius: 8px;
  }

  &::-webkit-media-controls-play-button {
    background-color: #FFC0CB;
    border-radius: 50%;
    box-shadow: none;
  }

  &::-webkit-media-controls-current-time-display,
  &::-webkit-media-controls-time-remaining-display {
    font-size: 12px;
    color: white;
  }

  &::-webkit-media-controls-volume-slider {
    width: 80px;
    color: white;
  }

  &::-webkit-media-controls-volume-slider-container {
    color: #FFFFFF;
  }

  &::-webkit-media-controls-mute-button {
    background-color: white;
    /* Rendre l'icône muette blanche */
  }

  &::-webkit-media-controls-play-button:hover {
    background-color: #faadba; // Couleur légèrement plus claire au survol
  }
}
