.NavBar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.NavBar h1 {
    padding-left: 50px;
    color: #FFC0CB;
}

.NavBar h2 {
    padding: 20px;
}


.NavBar h2 {
    color: white;
}

.NavBar h2:hover {
  color: #FFC0CB;
}

.NavBar a {
    text-decoration: none;
}

.navOptions {
    display: flex;
    padding-right: 50px;
}

.navOptions button {
    background-color: black;
    border: none;
}
