.sidebar {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  border-left: none;
  border-radius: 15px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a:link,
.menu a:visited {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.menu a:hover,
.menu a:active {
  color: #FFC0CB;
  cursor: pointer;
}

a {
  color: orange;
}

.active {
  color: red;
}
