@use '../../assets/styles/mixins' as mixin;
@use '../../assets/styles/debug';
@use '../../assets/styles/index.scss';


.sidebar {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  border-left: none;
  border-radius: 15px;

  @include mixin.md {
    padding: 15px 40px;
    margin-left: 0;
  }

  @include mixin.sm {
    margin: 0 20px 20px 20px;
  }

  @include mixin.sm {
    margin: 0 0px 20px 0px;
  }

  @include mixin.xs {
    margin: 0 0px 20px 0px;
  }

}

.sidebar h1 {
  padding-bottom: 30px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;

  @include mixin.md {
    text-align: center;
  }

  @include mixin.sm {
    text-align: center;
    flex-direction: row;
  }

  @include mixin.xs {
    text-align: center;
    flex-direction: row;
  }
}

.menu a:link,
.menu a:visited {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;


}

.menu a:hover,
.menu a:active {
  color: black;
  cursor: pointer;
}

.menu li {
  padding-top: 15px;
}

a {
  color: orange;
}

.moods h1 {
  padding-top: 30px;

  @include mixin.sm {
    padding-top: 15px;
  }
}

.playlist {
  padding-top: 50px;
}

.playlist h1 {
  padding-top: 30px;

  @include mixin.sm {
    padding-top: 15px;
  }
}
