.Footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
}

.Footer a {
    text-decoration: none;
    color: white;
}

.Footer a:hover {
  color: #FFC0CB;
}
