* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #111;
}

.Routes {
  flex-grow: 1;
}
