.HomePage {
    display: flex;
}

.homeHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/music-background.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeHeader h1 {
    color: white;
    text-align: center;
}